<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>File Http Server</title>
    <link rel="icon" href="/file-http-server/favicon.ico">
    <script src="/file-http-server/iconfont.js"></script>
    <style>
        /* svg icon symbol */
        .icon {
            width: 1em;
            height: 1em;
            vertical-align: -0.15em;
            fill: currentColor;
            overflow: hidden;
        }
        .title-icon {
            width: 2rem;
            height: 2rem;
            color:  rgb(244, 234, 42);
            transform: translateY(3px);
        }
        .github-icon {
            width: 1.7rem;
            height: 1.7rem;
            color: #ffffff;
        }
        .pre-icon {
            color: rgb(244, 234, 42);
            font-weight: bold;
            font-size: 20px;
        }
        .file-icon {
            color: rgb(244, 234, 42);
        }
        * {
            padding: 0;
            margin: 0;
        }
        html, body {
            width: 100%;
            height: 100%;
            overflow: hidden;
            background-color: #ffffff;
        }
        .container {
            height: 100%;
            overflow: hidden;
            box-sizing: border-box;
            padding-top: 70px;
            padding-bottom: 40px;
            position: relative;
        }
        .header {
            height: 60px;
            box-sizing: border-box;
            padding: 0 10px;
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            background-color: #1989FA;
            color: #ffffff;
            font-size: 20px;
            line-height: 60px;
        }

        .header-link {
            cursor: pointer;
            text-decoration: none;
            color: #ffffff;
        }
        .source-link {
            color: #ffffff;
            cursor: pointer;
            text-decoration: none;
            float: right;
            margin-right: 10px;
        }
        .footer {
            background-color: #f7fbfd;
            color: #666;
            height: 30px;
            font-size: 14px;
            width: 100%;
            line-height: 30px;
            position: absolute;
            left: 0;
            bottom: 0;
            text-align: center;
            box-shadow   : inset 0 0 2px rgba(0, 0, 0, 0.2);
        }
        ul.list{
            list-style: none;
            box-sizing: border-box;
            width: 50%;
            min-width: 500px;
            max-height: 100%;
            margin: auto;
            border: 1px solid #DCDFE6;
            border-radius: 5px;
            overflow-y: auto;
        }

        li.item {
            color: #606266;
            border-bottom: 1px solid #DCDFE6;
            box-sizing: border-box;
        }
        li.empty {
            padding: 30px;
            text-align: center;
            font-size: 14px;
            color: #C0C4CC;
        }
        li.item:last-child {
            border-bottom: none;
        }
        .link {
            display: block;
            padding: 10px;
            margin: 0;
            width: 100%;
            text-decoration: none;
            cursor: pointer;
            color: #606266;
            box-sizing: border-box;
            text-overflow: ellipsis;
        }
        .link:hover {
            background-color: #F4F4F5;
            color: #444;
        }



        /* 滚动条 */
        ::-webkit-scrollbar {
        /*滚动条整体样式*/
            width : 5px;  /*高宽分别对应横竖滚动条的尺寸*/
            height: 1px;
        }
        ::-webkit-scrollbar-thumb {
            /*滚动条里面小方块*/
            border-radius: 2px;
            box-shadow   : inset 0 0 5px rgba(0, 0, 0, 0.2);
            background   : #eee;
        }
        ::-webkit-scrollbar-track {
            /*滚动条里面轨道*/
            box-shadow   : inset 0 0 2px rgba(0, 0, 0, 0.2);
            border-radius: 2px;
            background   : #ededed;
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="header">
            <a class="header-link" href="/">
                <svg class="icon title-icon" aria-hidden="true">
                    <use xlink:href="#iconwenjian1"></use>
                </svg>
                File Http Server
            </a>
            <a class="source-link" href="https://github.com/wangsfine/simple-http-server" target="__blank" title="github">
                <svg class="icon github-icon" aria-hidden="true">
                    <use xlink:href="#iconhuaban88"></use>
                </svg>
            </a>
        </div>
        <ul class="list">
            <li class="item">
                <a class="link" href="<%= preLink %>">
                    <svg class="icon pre-icon" aria-hidden="true">
                        <use xlink:href="#iconshangyiji"></use>
                    </svg>
                </a>
            </li>
            <% if (dirents.length > 0) { %>
                <% for (let i = 0; i < dirents.length; i++) { %>
                    <% const dirent = dirents[i]; %>
                    <li class="item">
                        <% if (dirent.isFile()) { %>
                            <a class="link file-link" href="<%= dirent.path %>" download>
                                <svg class="icon file-icon" aria-hidden="true">
                                    <use xlink:href="#iconwenjian2"></use>
                                </svg>
                                <%= dirents[i].name %>
                            </a>
                        <% } else if (dirent.isDirectory()) { %>
                            <a class="link dir-link" href="<%= dirent.path %>">
                                <svg class="icon" aria-hidden="true">
                                    <use xlink:href="#iconwenjian1"></use>
                                </svg>
                                <%= dirent.name %>
                            </a>
                        <% } else {%>
                            <span><%= dirent.name %></span>
                        <% } %>
                    </li>
                <% } %>
            <% } else { %>
                <li class="item empty">空空如也</li>
            <% } %>
        </ul>
    </div>
    <div class="footer">
        Copyright © All Rights Reserved. wangzhibing个人版权所有
    </div>
</body>
</html>